$text: #fff;
$default: #000;

%title-font{
    font-family: Inter;
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 20px;
}


// // миксин 
// @function max($numbers...) {
//     @return m#{a}x(#{$numbers});
// }
// @function min($numbers...) {
//     @return m#{i}n(#{$numbers});
// }
